#photo {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
}

/* #photo img {
  width: 100%;
} */

.message-container {
  margin: 1em 0;
}

.comments {
  text-align: left;
  border-bottom: 1px solid #363636;
  padding: 1em 0;
  margin-bottom: 1em;
}

.comments p {
  font-size: 1.5em;
}
